.contactsBlock{
    height: 100vh;
    background-color: #c7f3c7;

}
.contactsContainer{
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.title{
    background-color: gray;
}

.contacts{
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #d2add2;
}


.form{
    display: flex;
    flex-direction: column;
}

.input{
    margin-bottom: 20px;

}

.textarea{

}

.contacts_btn {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #d2add2;

}